<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artiecode.itrip.dao.HotelOrderDao">
	<select id="findStoreByPreOrder" parameterType="java.util.Map" resultType="java.lang.Integer">
		select
			min(ihts.store) store
		from
			itrip_hotel_temp_store ihts
		where
			ihts.hotelId=#{hotelId}
		and
			ihts.roomId=#{roomId}
		and
			DATE_FORMAT(ihts.recordDate, '%Y-%m-%d') &gt;= DATE_FORMAT(#{checkInDate}, '%Y-%m-%d')
		and
			DATE_FORMAT(ihts.recordDate, '%Y-%m-%d') &lt;= DATE_FORMAT(#{checkOutDate}, '%Y-%m-%d')
	</select>

	<select id="findCountByOrderNoPay" parameterType="java.util.Map" resultType="java.lang.Integer">
		select
			IF(ISNULL(sum(iho.count)), 0, sum(iho.count)) count
		from
			itrip_hotel_order iho
		where
			iho.hotelId=#{hotelId}
		and
			iho.roomId=#{roomId}
		and
			iho.orderStatus=0
		and
			DATE_FORMAT(iho.checkOutDate, '%Y-%m-%d') &gt;= DATE_FORMAT(#{checkInDate}, '%Y-%m-%d')
		and
			DATE_FORMAT(iho.checkInDate, '%Y-%m-%d') &lt;= DATE_FORMAT(#{checkOutDate}, '%Y-%m-%d')
	</select>
	
	<insert id="saveOrder" parameterType="HotelOrder">
		insert into itrip_hotel_order(
			userId, orderType, orderNo, hotelId,
			hotelName, roomId, count, bookingDays,
			checkInDate, checkOutDate, orderStatus, payAmount,
			payType, noticePhone, noticeEmail, specialRequirement,
			isNeedInvoice, invoiceType, invoiceHead, linkUserName, creationDate
		) values(
			#{userId}, #{orderType}, #{orderNo}, #{hotelId},
			#{hotelName}, #{roomId}, #{count}, #{bookingDays},
			#{checkInDate}, #{checkOutDate}, #{orderStatus}, #{payAmount},
			#{payType}, #{noticePhone}, #{noticeEmail}, #{specialRequirement},
			#{isNeedInvoice}, #{invoiceType}, #{invoiceHead}, #{linkUserName}, #{creationDate}
		)
	</insert>
	
	<select id="findOrderByQuery" parameterType="java.util.Map" resultMap="hotelOrderMap">
		select
			id,
			userId,
			orderType,
			orderNo,
			tradeNo,
			hotelId,
			hotelName,
			roomId,
			count,
			bookingDays,
			checkInDate,
			checkOutDate,
			orderStatus,
			payAmount,
			payType,
			noticePhone,
			noticeEmail,
			specialRequirement,
			isNeedInvoice,
			invoiceType,
			invoiceHead,
			linkUserName,
			bookType,
			creationDate,
			createdBy,
			modifyDate,
			modifiedBy
		from
			itrip_hotel_order iho
		<where>
			<trim suffixOverrides="and">
				<if test="id != null">iho.id=#{id}</if>
				<if test="orderNo != null">iho.orderNo=#{orderNo} and</if>
			</trim>
		</where>
	</select>

	<select id="findOrderLinkUserListByQuery" parameterType="java.util.Map" resultMap="orderLinkUserMap">
		select
			iolu.id,
			iolu.orderId,
			iolu.linkUserId,
			iolu.linkUserName,
			iolu.creationDate,
			iolu.createdBy,
			iolu.modifiedBy,
			iolu.modifiedBy
		from
			itrip_order_link_user iolu
		<where>
			<trim suffixOverrides="and">
				<if test="orderId != null">iolu.orderId=#{orderId} and</if>
			</trim>
		</where>
	</select>

	<select id="findHotelOrderListByQuery" parameterType="java.util.Map" resultMap="hotelOrderMap">
		select
			iho.id,
			iho.userId,
			iho.orderType,
			iho.orderNo,
			iho.tradeNo,
			iho.hotelId,
			iho.hotelName,
			iho.roomId,
			iho.count,
			iho.bookingDays,
			iho.checkInDate,
			iho.checkOutDate,
			iho.orderStatus,
			iho.payAmount,
			iho.payType,
			iho.noticePhone,
			iho.noticeEmail,
			iho.specialRequirement,
			iho.isNeedInvoice,
			iho.invoiceType,
			iho.invoiceHead,
			iho.linkUserName,
			iho.bookType,
			iho.creationDate,
			iho.createdBy,
			iho.modifyDate,
			iho.modifiedBy
		from
			itrip_hotel_order iho join itrip_user iu on iho.userId=iu.id
		<where>
			<trim suffixOverrides="and">
				<if test="userCode != null">iu.userCode=#{userCode} and</if>
				<if test="orderNo != null">iho.orderNo=#{orderNo} and</if>
				<if test="linkUserName != null">iho.linkUserName=#{linkUserName} and</if>
				<if test="startDate != null">iho.creationDate &gt;= #{startDate} and</if>
				<if test="endDate != null">iho.creationDate &lt;=#{endDate} and</if>
				<if test="orderStatus != null and orderStatus != -1">iho.orderStatus=#{orderStatus} and</if>
				<if test="orderType != null and orderType != -1">iho.orderType=#{orderType} and</if>
			</trim>
		</where>
		<if test="begin != null">
			limit #{begin}, #{size}
		</if>
	</select>
	
	<resultMap id="hotelOrderMap" type="HotelOrder">
		<id property="id" javaType="java.lang.Long" column="id"/>
		<result property="userId" javaType="java.lang.Long" column="userId"/>
		<result property="orderType" javaType="java.lang.Integer" column="orderType"/>
		<result property="orderNo" javaType="java.lang.String" column="orderNo"/>
		<result property="tradeNo" javaType="java.lang.String" column="tradeNo"/>
		<result property="hotelId" javaType="java.lang.Long" column="hotelId"/>
		<result property="hotelName" javaType="java.lang.String" column="hotelName"/>
		<result property="roomId" javaType="java.lang.Long" column="roomId"/>
		<result property="count" javaType="java.lang.Integer" column="count"/>
		<result property="bookingDays" javaType="java.lang.Integer" column="bookingDays"/>
		<result property="checkInDate" javaType="java.util.Date" column="checkInDate"/>
		<result property="checkOutDate" javaType="java.util.Date" column="checkOutDate"/>
		<result property="orderStatus" javaType="java.lang.Integer" column="orderStatus"/>
		<result property="payAmount" javaType="java.lang.Double" column="payAmount"/>
		<result property="payType" javaType="java.lang.Integer" column="payType"/>
		<result property="noticePhone" javaType="java.lang.String" column="noticePhone"/>
		<result property="noticeEmail" javaType="java.lang.String" column="noticeEmail"/>
		<result property="specialRequirement" javaType="java.lang.String" column="specialRequirement"/>
		<result property="isNeedInvoice" javaType="java.lang.Integer" column="isNeedInvoice"/>
		<result property="invoiceType" javaType="java.lang.Integer" column="invoiceType"/>
		<result property="invoiceHead" javaType="java.lang.String" column="invoiceHead"/>
		<result property="linkUserName" javaType="java.lang.String" column="linkUserName"/>
		<result property="bookType" javaType="java.lang.Integer" column="bookType"/>
		<result property="creationDate" javaType="java.util.Date" column="creationDate"/>
		<result property="createdBy" javaType="java.lang.Long" column="createdBy"/>
		<result property="modifyDate" javaType="java.util.Date" column="modifyDate"/>
		<result property="modifiedBy" javaType="java.lang.Long" column="modifiedBy"/>
	</resultMap>
	
	<resultMap id="orderLinkUserMap" type="OrderLinkUser">
		<id property="id" javaType="java.lang.Long" column="id"/>
		<result property="orderId" javaType="java.lang.Long" column="orderId"/>
		<result property="linkUserId" javaType="java.lang.Long" column="linkUserId"/>
		<result property="linkUserName" javaType="java.lang.String" column="linkUserName"/>
		<result property="creationDate" javaType="java.util.Date" column="creationDate"/>
		<result property="createdBy" javaType="java.lang.Long" column="createdBy"/>
		<result property="modifyDate" javaType="java.util.Date" column="modifyDate"/>
		<result property="modifiedBy" javaType="java.lang.Long" column="modifiedBy"/>
	</resultMap>
</mapper>