<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artiecode.itrip.dao.LabelDicDao">
	<select id="findLabelDicListByQuery" parameterType="java.util.Map" resultMap="labelDicMap">
		select
			ild.id,
			ild.name,
			ild.value,
			ild.description,
			ild.pic,
			ild.creationDate,
			ild.createdBy,
			ild.modifyDate,
			ild.modifiedBy
		from
			itrip_label_dic ild
		<where>
			<trim suffixOverrides="and">
				<if test="parentId != null">ild.parentId=#{parentId} and</if>
			</trim>
		</where>
	</select>
	
	<resultMap id="labelDicMap" type="LabelDic">
		<id property="id" javaType="java.lang.Long" column="id"/>
		<result property="name" javaType="java.lang.String" column="name"/>
		<result property="value" javaType="java.lang.String" column="value"/>
		<result property="description" javaType="java.lang.String" column="description"/>
		<result property="pic" javaType="java.lang.String" column="pic"/>
		<result property="creationDate" javaType="java.util.Date" column="creationDate"/>
		<result property="createdBy" javaType="java.lang.Long" column="createdBy"/>
		<result property="modifyDate" javaType="java.util.Date" column="modifyDate"/>
		<result property="modifiedBy" javaType="java.lang.Long" column="modifiedBy"/>
	</resultMap>
</mapper>