<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artiecode.itrip.dao.UserDao">
	<select id="findUserListByQuery" parameterType="java.util.Map" resultMap="userMap">
		select
		iu.id,
		iu.userCode,
		iu.userPassword,
		iu.userType,
		iu.flatID,
		iu.userName
		from
		itrip_user iu
		<where>
			<trim suffixOverrides="and">
				<if test="userCode != null">iu.userCode=#{userCode} and</if>
				<if test="userPassword != null">iu.userPassword=#{userPassword} and</if>
				<if test="activated != null">iu.activated=#{activated} and</if>
			</trim>
		</where>
	</select>

	<insert id="saveUser" parameterType="User">
		insert into itrip_user(
			userCode, userPassword, userName, activated
		) values (
			#{userCode}, #{userPassword}, #{userName}, #{activated}
		)
	</insert>

	<update id="updateUser" parameterType="User">
		update
			itrip_user
		<set>
			<trim suffixOverrides=",">
				<if test="activated != null">activated=#{activated},</if>
			</trim>
		</set>
		<where>
			<if test="userCode != null">userCode=#{userCode}</if>
		</where>
	</update>

	<select id="findLinkUserListByQuery" parameterType="java.util.Map" resultMap="linkUserMap">
		select
			iulu.id,
			iulu.linkUserName,
			iulu.linkIdCard,
			iulu.linkPhone,
			iulu.userId,
			iulu.creationDate,
			iulu.createdBy,
			iulu.modifyDate,
			iulu.modifiedBy
		from
			itrip_user_link_user iulu join itrip_user iu on iulu.userId=iu.id
		<where>
			<trim suffixOverrides="and">
				<if test="userCode != null">
					iu.userCode=#{userCode} and
				</if>
			</trim>
		</where>
	</select>

	<resultMap id="userMap" type="User">
		<id property="id" javaType="java.lang.Long" column="id"/>
		<result property="userCode" javaType="java.lang.String" column="userCode"/>
		<result property="userPassword" javaType="java.lang.String" column="userPassword"/>
		<result property="userType" javaType="java.lang.Integer" column="userType"/>
		<result property="flatID" javaType="java.lang.Long" column="flatID"/>
		<result property="userName" javaType="java.lang.String" column="userName"/>
	</resultMap>

	<resultMap id="linkUserMap" type="UserLinkUser">
		<id property="id" javaType="java.lang.Long" column="id"/>
		<result property="linkUserName" javaType="java.lang.String" column="linkUserName"/>
		<result property="linkIdCard" javaType="java.lang.String" column="linkIdCard"/>
		<result property="linkPhone" javaType="java.lang.String" column="linkPhone"/>
		<result property="userId" javaType="java.lang.Long" column="userId"/>
		<result property="linkIdCardType" javaType="java.lang.Integer" column="linkIdCardType"/>
	</resultMap>
</mapper>